* {
    background-color: #F6F3C2;
    box-sizing: border-box;
    font-family: sans-serif;
}

button {
    background-color: #E37434;
    color: #F6F3C2;
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
}

.main-container {
    display: flex;
    gap: 8px;
}

.left-container, .right-container {
    flex: 1 10vw;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 8px;
}

.button-container {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.pixel-container {
    width: 90vh;
    height: 90vh;
    margin: 3vh auto;
    flex: none;
    display: flex;
    border: 8px solid #4B9DA9;
    border-radius: 8px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.pixel-row {
    display: flex;
    flex-basis: 90vh;
}

.pixel {
    background-color: #F6F3C2;
    border: 0.5px dashed #91C6BC;
    flex-basis: 90vh;
}

